/* Add screen styles below */
a.active {
    font-weight: bold;
}
nav {
  display: inline-flex;
  align-items: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  width: 100%;
  margin-left: 1150px;
  position: absolute;
}
h1 {
  font-size: larger;
}
li {
    display: inline;
    padding: 8px;
    background-color: #FFFFFF;
    color:black;
}
li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
li a:hover {
    background-color: #60D0C3;
    border-radius: 10px;
  }
.active {
    background-color: #60D0C3;
    border-radius: 10px;
  }
.hero img {
    width: 100%;
    margin-top: 20px;
  }
button {
  background-color: #F5F5F5;
  border: none;
  border-radius: 10px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  }
button:hover {
    background-color: #60D0C3;
    color: black;
    cursor: pointer;
  }
.announcements ul {
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
    max-width: 200px;
  }
.programs ul {
    display: inline;
    text-wrap: wrap;
    max-width: 100px;
  }
.latesttitle {
    margin-top: 100px;
  }
.books ul {
  display: flex;
  text-wrap: wrap;
  max-width: 250px;
  text-align: center;
  padding: 20px;
}
.ourservices {
  margin-top: 100px;
}
.servicedetails ul {
  list-style: circle;
}
.libraryinfo {
  background-color: #79E8DB;
  display: flex;
}