/* Add screen styles below */
a.active {
    font-weight: bold;
}
nav {
    display: inline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}
li {
    display: inline;
    padding: 8px;
    background-color: #dddddd;
}
li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
