/* Add screen styles below */
a.active {
    font-weight: bold;
}
nav {
    display: inline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    width: 100%;
}
li {
    display: inline;
    padding: 8px;
    background-color: #FFFFFF;
    color:black;
}
li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #60D0C3;
  }
  .active {
    background-color: #60D0C3;
  }
  .hero img {
    width: 100%;
    margin-top: 20px;
  }
